#datasetPage {
    padding: 0% 10% 100px 8%;
    background-image: url('../../img/datasetPageBackground.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
#metainfo {
    background-color: #D3EBFF;
    width: fit-content;
    max-width: 30%;
    padding: 30px 45px 30px 45px;
    border-radius: 20px;
    height: fit-content;
}
#meta {
    margin-bottom: 10px;
}
.metaWhite {
    color: #0071CE;
}
.infoContainer {
    margin-bottom: 10px;
}
#datasetInfoHeader {
    display: flex;   
    margin-top: 40px;
}
#section {
    margin-right: 50px;
}
#datasetInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-top: 50px;
    border-top: solid 1px #7a80a4;
    margin-bottom: 50px;
}
#datasetCoverImage {
    border-radius: 50px;
    width: 35%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 50px;
    margin-bottom: 25px;
}
#mainInfo {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
#downloadButton, #copyCodeButton {
    margin: 0;
    padding: 8px 20px 8px 24px;
}
#downloadButton {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
#copyCodeButton {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    margin-right: 20px;
}
#copyCodeLabel, #downloadLabel {
    font-size: 17px;
    margin-right: 8px;
}
#downloadLabel {
    color: white;
}
#copyCodeLabel {
    color: #0071CE;
}
#downloadIcon{
    width: 17px;
}
#copyCodeIcon {
    width: 20px;
}
#versionLabel {
    padding-right: 10px;
}
.downloadIcon {
    margin-right: 10px;
}
.datasetTag {
    border: solid 1px #3E456F;
    border-radius: 20px;
    color: #3E456F;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: white;
}
#tags {
    margin: 15px 10px 15px 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.author {
    color: #3E456F;
    font-size: 18px;
    font-weight: 500;
    padding-left: 4px;
    line-height: 20px;
    margin-right: 2%;
}
#descriptionLabel {
    margin-bottom: 10px;
}
#description {
    width: 100%;
    margin-bottom: 30px;
}
#filesSection {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow: 0 5px 1px #0071CE, 6px 5px 5px 0 #0071CE;
}
#filesHeaderWithBottomDivider {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding-bottom: 15px;
    border-bottom:  solid 1px #3E456F;
}
#filesHeader {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}
.files {
    padding: 20px;
    padding-top: 15px;
    background-color: transparent;
}
#datasetInfo, #section, #filesSection, .files, .file {
    width: 100%;
}
.file {
    background-color: transparent;
    padding: 5px;
    display: flex;
    align-items: center;
}
.fileDownload {
    margin-left: 10px;
}
#rating {
    font-weight: 500;
    margin-left: 3px;
}
#ratingLabel {
    display: flex;
    align-items: center;
}
#numOfDownloads {
    font-weight: 500;
    color: #5C659D;
    width: 200px;
}
#downloadRationgSection {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#visibilityLabel {
    color: #0071CE;
    font-size: 16px;
    font-weight: 600;
    background-color: #D3EBFF;
    padding: 12px;
    border-radius: 10px;
    height: fit-content;
    line-height: 5px;
}
#editDatasetButton {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 12px 23px;
    border: solid 2px #3E456F;
    color: #3E456F;
    margin-right: 1%;
    font-weight: 700;
    border-radius: 40px;
}
#editDatasetButton:hover {
    background-color: #3E456F;
    color: white;
}
#deleteDatasetButton {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 12px 23px;
    border: solid 2px #b45459;
    color: #b45459;
    font-weight: 700;
    border-radius: 40px;
}
#deleteDatasetButton:hover {
    background-color: #b45459;
    color: white;
}
#fileInFolder {
    padding-left: 13px;
    margin-left: 10px;
    border-left: 1px solid #3E456F;
}
.folderMargin {
    margin-top: 8px;
}
#folderIcon {
    width: 20px;
    margin-right: 10px;
}
#folderName {
    color: #3E456F;
    font-size: 18px;
    font-weight: 500;
    padding-left: 4px;
    line-height: 20px;
    margin-right: 2%;
    margin-bottom: 5px;
}
.capitalize {
    text-transform: capitalize;
}