#datasetPage {
    padding: 0% 10% 10% 8%;
    background-image: url('../../img/datasetPageBackground.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
#metainfo {
    background-color: #9EB3E8;
    width: fit-content;
    color: white;
    padding: 30px 45px 30px 45px;
    border-radius: 50px;
    height: fit-content;
}
#meta {
    margin-bottom: 10px;
}
.metaWhite {
    color: white;
}
.infoContainer {
    margin-bottom: 10px;
}
#datasetInfoHeader {
    display: flex;   
    margin-top: 40px;
}
#section {
    margin-right: 50px;
}
#datasetInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-top: 50px;
    border-top: solid 1px #7a80a4;
    margin-bottom: 50px;
}
#datasetCoverImage {
    border-radius: 50px;
    width: 35%;
    height: 35%;
}
#mainInfo {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
#downloadButton {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-right: 4%;
    padding: 12px 23px;
    padding-bottom: 9px;
    border: none;
    background-color: #7B93D2;
    color: white;
    font-weight: 600;
    border-radius: 40px;
}
#downloadLabel {
    margin-right: 7px;
    color: white;
    font-size: 18px;
    margin-bottom: 3px;
}
#versionLabel {
    padding-right: 10px;
}
.downloadIcon {
    margin-right: 10px;
}
.datasetTag {
    border: solid 1px #3E456F;
    border-radius: 20px;
    color: #3E456F;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: white;
}
#tags {
    margin: 15px 10px 15px 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.author {
    color: #3E456F;
    font-size: 18px;
    font-weight: 500;
    padding-left: 4px;
    line-height: 20px;
    margin-right: 2%;
}
#descriptionLabel {
    margin-bottom: 30px;
}
#description {
    width: 90%;
    margin-bottom: 30px;
}
#filesSection {
    background-color: white;
    border-radius: 40px;
    margin-bottom: 50px;
    box-shadow: 0 10px 3px rgba(223, 183, 241), 10px 10px 3px 0 rgba(223, 183, 241);
}
#filesHeaderWithBottomDivider {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding-bottom: 15px;
    border-bottom:  solid 2px #3E456F;
}
#filesHeader {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}
.files {
    padding: 20px;
    padding-top: 15px;
    background-color: transparent;
}
#datasetInfo, #section, #filesSection, .files, .file {
    width: 100%;
}
.file {
    background-color: transparent;
    padding: 5px;
    display: flex;
    align-items: center;
}
.fileDownload {
    margin-left: 10px;
}
#rating {
    font-weight: 500;
    margin-left: 5px;
}
#ratingLabel {
    display: flex;
    align-items: center;
}
#numOfDownloads {
    font-weight: 500;
    color: #5C659D;
    width: 200px;
}
#downloadRationgSection {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#visibilityLabel {
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(223, 183, 241);
    padding: 12px;
    border-radius: 10px;
    height: fit-content;
    line-height: 5px;
}
#editDatasetButton {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 12px 23px;
    border: solid 2px #3E456F;
    color: #3E456F;
    margin-right: 1%;
    font-weight: 700;
    border-radius: 40px;
}
#editDatasetButton:hover {
    background-color: #3E456F;
    color: white;
}
#deleteDatasetButton {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 12px 23px;
    border: solid 2px #b45459;
    color: #b45459;
    font-weight: 700;
    border-radius: 40px;
}
#deleteDatasetButton:hover {
    background-color: #b45459;
    color: white;
}