#notification {
    position: fixed;
    padding-bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }
#closeButton {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }
#notMessage {
    
    color: #fff;
}