#seeAll {
    font-size: 23px;
    margin-right: 9px;
    padding-bottom: 7px;
}
.topicCardsInRow {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#seeAllIcon {
    display: flex;
    align-items: center;
}
#cardsRowSection {
    padding-bottom: 100px;
}
@media screen and (max-width: 1350px) {
    #cards3 {
        display: flex;
        justify-content: space-between;
    }
    #cards4 {
        display: none;
    }
}
@media screen and (min-width: 1351px) {
    #cards4 {
        display: flex;
        justify-content: space-between;
    }
    #cards3 {
        display: none;
    }
  }
  @media screen and (max-width: 1000px) {
    #cards3 {
        display: none;
    }
    #cards4 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}