.inputLabel {
    color: #3E456F;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    word-break: break-word;
}
#metadataField {
    width: 100%;
    margin-top: 10px;
}
.input {
    margin-bottom: 10px;
}
