.upload {
    padding: 0% 10% 10% 8%;
    background-image: url('../../img/uploadBackground.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  ::-webkit-scrollbar {
      width: 8px;
      opacity: 100%;
    }
    
    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgba(228, 231, 242, 1);
    }
    
    ::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: transparent;
      scroll-padding: 10px;
    }
    .metadataLabel {
      color: #3E456F;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      word-break: break-word;
    }
    .visible {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 9px;
      border: solid rgba(228, 231, 242, 1);
      border-width: 1px;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: none;
      width: 400px;
      font-size: 16px;
      color: #3E456F;
      box-sizing: border-box;
      appearance: none; 
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="2  0" height="20" viewBox="0 0 20 20"><path fill="%233E456F" d="M7 10l5 5 5-5z"/></svg>');
      background-repeat: no-repeat;
      background-position: right 15px center;
      background-size: 10px;
    }
  .visible:focus {
      border: solid rgba(0, 113, 206, 1);
      outline: none;
      border-width: 1px;
   }
   .visible::after {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  .metadataSection {
      display: flex;
      justify-content: space-between;
      width: 100%;
  }
  #descriptionInputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  #generateDescButton {
    margin-right: 15px;
    padding: 13px 20px;
    border: none;
    background-color: #D5A9F4;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  #noMargin {
    margin: 0px;
  }
  #continuie {
    margin: 5px 0px 10px 10px;
    padding: 13px 20px;
    border: none;
    background-color: #D5A9F4;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  #descWithButton {
    display: flex;
    flex-direction: column;
  }
  #descriptionInput {
    width: 100%;
    height: 70%;
    resize: none;
    margin: 0px;
  }
  .metadataBigItem {
    width: 100%;
    margin: 0px;
  }
  #rightContainer {
    width: 100%;
    padding-left: 10%;
  }
  #descriptionInput {
    margin-top: 10px;
    padding: 20px;
    border: solid rgba(228, 231, 242, 1);
    border-width: 1px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: none;
    font-size: 16px;
  }
  #descriptionInput:focus {
    border: solid rgba(0, 113, 206, 1);
    outline: none;
    border-width: 1px;
  }
  #saveButtons {
    margin-top: 40px;
    display: flex;
    justify-content: end;
  }
  .renewDataset { 
    border: none;
    background-color: #3E456F;
    color: white;
    padding: 13px;
    font-weight: 600;
    border-radius: 40px;
    font-size: 16px;
  }
  .saveDraft {
    margin-right: 15px;
    padding: 20px;
    border: none;
    background-color: #7B93D2;
    color: white;
    font-weight: 600;
    border-radius: 40px;
    font-size: 16px;
  }
  * {
    background-color: transparent;
  }
  
  
  
  .wrapper {
    display: flex;
    justify-content: center;
  }
  
  .cta {
    border: none;
      display: flex;
      padding: 3px 25px;
      align-items: center;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: 40px;
      color: white;
      background-color: #3E456F;
      transition: 1s;
      box-shadow: 6px 6px 0 black;
      border-radius: 50px;
  }
  
  .cta:focus {
     outline: none; 
  }
  
  .cta:hover {
      transition: 0.5s;
      box-shadow: 6px 6px 0 #D19DEA;
  }
  
  .cta span:nth-child(2) {
      transition: 0.5s;
      margin-right: 0px;
  }
  
  .cta:hover  span:nth-child(2) {
      transition: 0.5s;
      margin-right: 30px;
  }
  
    #arrowsAnimation {
      width: 10px;
      margin-left: 3px;
      position: relative;
      top: 8%;
      padding-right: 5px;
    }
    
  /**************SVG****************/
  
  path.one {
      transition: 0.4s;
      transform: translateX(-60%);
  }
  
  path.two {
      transition: 0.5s;
      transform: translateX(-30%);
  }
  
  .cta:hover path.three {
      animation: color_anim 1s infinite 0.2s;
  }
  
  .cta:hover path.one {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.6s;
  }
  
  .cta:hover path.two {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  
  @keyframes color_anim {
      0% {
          fill: white;
      }
      50% {
          fill: #D19DEA;
      }
      100% {
          fill: white;
      }
  }
  .svgArrows {
    height: 25px;
    padding-right: 10px;
  }
  #uploadButtonText {
    color: white;
  }
  
  #tagsInput {
    margin: 10px 10px 20px 0px;
    display: flex;
  }
  
  #addNewTagButton {
  cursor: pointer;
  border: solid 1px #3E456F;
  border-radius: 100px;
  color: #3E456F;
  font-size: 20px;
  font-weight: 400;
  background-color: white;
  line-height: 15px;
  padding: 0px 10px;
  }