#inputLabel {
  color: #3E456F;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}
textarea {
  overflow: hidden;
  resize: none; /* Отключаем возможность изменения размера пользователем */
}
#textLimit {
  margin-top: -5px;
  margin-left: 10px;
  display: flex;
  align-self: end;
  margin-bottom: 15px;
}
#textarea {
  width: 100%;
  margin-bottom: 10px;
  color: #3E456F;
  padding: 10px 20px;
  border: 1px solid rgba(228, 231, 242, 1);
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 16px;
  box-sizing: border-box;
}
#textarea:focus {
  border: 1px solid rgba(0, 113, 206, 1);
  outline: none;
}