.datasetTagInput {
    border: solid 1px #3E456F;
    border-radius: 20px;
    color: #3E456F;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 15px 5px 10px;
    margin-right: 7px;
    background-color: white;
    width: fit-content;
  }
#hideTagButton {
  border: none;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}