#tagFilter {
    padding: 5px 15px;
    color: white;
    background-color: #0071CE;
    border-radius: 20px;
    cursor: pointer;    
    width: fit-content;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 5px;
}
#tag,#tagFilterSuggestion {
    padding: 4px 12px;
    color: #0071CE;
    border-radius: 20px;
    cursor: pointer;
    width: fit-content;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 5px 0px 5px 5px;
    position: relative;
}
#tagFilterSuggestion {
    border: 1px solid #0071CE;
}
.clearTagInput {
    margin-right: 5px;
}
#inputTagsFilter {
    display: flex;
    margin-bottom: 8px;
    width: 100%;
}
@media screen and (max-width: 1100px) {
    #inputTagsFilter {
        flex-direction: column;
    }
    #inputTagsFilterWarning {
        flex-direction: column;
    }
}
.input-container {
    display: flex;
    align-items: baseline;
}
.selectTags {
    padding: 4px 10px;
    border: 1px solid #3E456F;
    border-radius: 50px;
    cursor: pointer;    
    width: fit-content;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    background-color: #3E456F;
    color: aliceblue;
  }
.selectTags:focus {
    border: solid rgba(0, 113, 206, 1);
    outline: none;
    border-width: 1px;
 }
 .selectTags::after {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
#filterTagLabel {
    background-color: white;
    color: #3E456F;
    font-size: 16px;
    font-weight: 600px;
}
.rowTags {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-items: center;
}
.tagsDisplay {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
  
#deleteTagButton {
    border: none;
    font-size: 20px;
    margin-bottom: 2px;
    margin-left: 6px;
    padding: 1px;
}