#inputTag {
    margin-right: 8px;
    padding: 4px;
    font-size: 16px;
    width: fit-content;
    border-color: transparent;
    color: #3E456F;
}
#inputTag:focus {
    border: none;
    outline: none;
    width: fit-content;
}
#tag {
    padding: 1px 10px;
    color: #3E456F;
    border: 1px solid #3E456F;
    border-radius: 50px;
    cursor: pointer;    
    width: fit-content;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 5px;
}
#deleteTagButton {
    border: none;
    font-size: 20px;
    margin-bottom: 2px;
    margin-left: 4px;
    padding: 1px;
}
#addTagButton {
    border: solid 1px #3E456F;
    border-radius: 50px;
    font-size: 20px;
    padding: 3px 10px;
    margin-left: 5px;
    margin-bottom: 5px;
}
#inputTextSection {
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#clickToEditPlaceholder {
    color: #3e456f86;
    font-size: 16px;
}