.datasetTopicSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 80px;
}

#search {
    padding: 3% 10% 10% 8%;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: inherit;
  }
#background {
    z-index: -1;
    width: 100%;
}
#seeAllTopic {
    margin-right: 15px;
}
#searchSection {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}
#datasetLabel {
    display: flex;
    justify-content: center;
    width: 500px;
}
#inputSearch {
    display: flex;
    margin: 10px;
    align-items: center;
}
#newDatasetButton {
    padding: 10px 20px 10px 20px;
    border: none;
    background-color: #7B93D2;
    color: white;
    font-weight: 600;
    border-radius: 40px;
    font-size: 16px;
}
#searchButton {
    padding: 0px 20px;
    border: none;
    background-color: #0071CE;
    color: white;
    font-weight: 600;
    font-size: 16px;
    height: 40px;
}
#topicTags {
    width: 60%;
}
#topicTag {
    border-radius: 40px;
    border: none;
    padding: 8px 20px 8px 20px;
    background-color: white;
    box-shadow: 0 5px 1px #7B93D2, 5px 5px 1px #7B93D2;
    color: #3E456F;
    font-size: 18px;
    margin: 7px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#topicTag:hover {
    transform: scale(1.05);
}
#main {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    width: fit-content;
    margin-bottom: 10px;
}
#seeAllDatasets {
    display: flex;
    align-items: center;
}
#searchIcon {
    border: none;
    width: 50px;
    display: none;
}
@media screen and (max-width: 1000px){
    #searchIcon {
        display: flex;
    }
    #searchButton {
        display: none;
    }
}

#search input[type="text"], #datasets input[type="text"] {
    padding: 20px;
    border-width: 1px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: none;
    height: 35px;
    font-size: 16px;
    width: 500px;
  }
#correctInput {
    border: solid rgba(228, 231, 242, 1);
    color: #3E456F;
}
#search input[type="text"]:focus, #datasets input[type="text"]:focus {
    border: solid rgba(0, 113, 206, 1);
    outline: none;
    border-width: 1px;
  }

@media screen and (max-width: 1000px) {
    #search input[type="text"] {
        width: 300px;
      }
}
@media screen and (max-width: 500px) {
    #search input[type="text"] {
        width: 200px;
      }
}
#filterIcon {
    margin: 0px 5px;
}
#wrongInput {
    color: rgb(225, 0, 0);
    border: 1px solid rgb(225, 0, 0);
}
#popularTopicsLabel {
    font-size: 50px;
    font-weight: 700;
    width: fit-content;
}
#popularTopicsSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topicsList {
    display: flex;
    width: 55%;
    flex-wrap: wrap;
    justify-content: center;
}
#topic {
    margin: 7px;
    padding: 5px 18px;
    border-radius: 50px !important;
}
#highlyRatedDatasetsSection {
    margin-top: 60px;
}
#fireIcon {
    width: 40px;
}
#highlyRatedDatasetsLabel {
    font-size: 30px;
    font-weight: 700;
    width: fit-content;
    margin-left: 20px;
}