.datasetTopicSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 80px;
}
#search {
    width: 100%;
    padding: 3.5% 10% 10% 8%;
}
#searchSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
#main {
    font-size: 40px;
    font-weight: 700;
    width: fit-content;
    margin-right: 30px;
    width: 220px;
    margin-bottom: 7px;
    line-height: 50px;
}
#inputSearch {
    display: flex;
    align-items: center;
    width: 100%;
}
body::before {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: inherit;
  }
#background {
    z-index: -1;
    width: 100%;
}
#searchButton {
    padding: 0px 25px;
    border: none;
    background-color: #0071CE;
    color: white;
    font-weight: 600;
    font-size: 16px;
    height: 40px;
}
#searchIcon {
    border: none;
    width: 50px;
    display: none;
}
#search input[type="text"], #datasets input[type="text"] {
    padding: 20px;
    border-width: 1px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: none;
    height: 35px;
    font-size: 16px;
    width: 100%;
  }
#correctInput {
    border: solid rgba(228, 231, 242, 1);
    color: #3E456F;
    width: 100%;
}
#search input[type="text"]:focus, #datasets input[type="text"]:focus {
    border: solid rgba(0, 113, 206, 1);
    outline: none;
    border-width: 1px;
  }
#filterIcon {
    margin: 0px 5px;
}
#wrongInput {
    color: rgb(225, 0, 0);
    border: 1px solid rgb(225, 0, 0);
}
#popularTopicsLabel {
    font-size: 50px;
    font-weight: 700;
    width: fit-content;
}
#popularTopicsSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topicsList {
    margin-left: 220px;
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
}
#topic {
    margin: 0px 7px 7px 7px;
    padding: 5px 18px;
    border-radius: 50px !important;
}
#searchRow {
    display: flex;
    align-items: center;
}
#uploadIcon {
    display: none;
}
@media screen and (max-width: 1300px) {
    .topicsList {
        margin-left: 0px;
    }
}
@media screen and (max-width: 1000px) {
    #searchSection {
        flex-direction: column;
    }
    #main {
        margin: 22px 0px;
    }
    #searchRow {
        margin-bottom: 15px;
    }
    #uploadIcon {
        display: block;
    }
    #uploadDatasetButton {
        display: none;
    }
}