#datasetCard, #datasetCardInvisible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1%;
    background-color: white;
    border-radius: 50px;
    padding: 2%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: fit-content;
    z-index: 1000;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    padding: 10%;
}
#datasetCard:hover {
    position: absolute;
    margin: 0;
    width: 22%;
    padding: 2.5%;
}
#datasetCardInvisible {
    display: none;
}
#hover {
    width: 22%;
    margin: 1%;
}

@media screen and (max-width: 1300px) {
    #hover {
        width: 30%;
    }
    #datasetCard:hover {
        width: 30%;
    }
}
@media screen and (max-width: 800px) {
    #hover {
        width: 45%;
    }
    #datasetCard:hover {
        width: 45%;
        padding: 5%;
    }
}
@media screen and (max-width: 500px) {
    #hover {
        width: 80%;
    }
    #datasetCard:hover {
        width: 80%;
        padding: 8%;
    }
}
#datasetCard.expanded {
    z-index: 1000; /* Ensure it appears on top */
    #datasetCardInvsible {
        display: block;
    };
    margin: -2%;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}
#datasetImage {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 50px;
    margin-bottom: 20px;    
}
#cardInfo {
    margin-top: 10px;
    width: 100%;
    position: relative;
}

#datasetCardDescription {
    display: none;
    border-radius: 5px;
    color: #3b4168;
}
#datasetCard.expanded #datasetCardDescription {
    display: block;
}

#nameOfDataset {
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    width: 250px;
    color: #3E456F;
}
.fieldInfo {
    margin-right: 7px;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#renewData {
    color: #6b7092;
}
#datasetTitleOnCard {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#authors {
    width: 100%;
}
#datasetCardDescription {
    margin-top: 10px;
}