.uploadFile {
    padding: 25px;
    margin-right: 50px;
    background-color: #C3D2F9;
    width: 65%;
    height: 400px;
    margin-top: 2%;
    border-radius: 20px;
    border: 2px dashed #3E456F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seeFiles, .limitFile, .dropFile, .seeImage {
    color: #3E456F;
}
.fieldInfo {
    line-height: 28px;
}
.dropFile {
    line-height: 48px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.seeFiles {
    background-color: #FFFFFF;
    width: fit-content;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 450;
    margin: 10px;
    border: none;
}
.seeImage {
    background-color: #FFFFFF;
    width: fit-content;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 450;
    margin: 7px;
    border: none;
}
@media screen and (max-width: 800px) {
    .seeImage {
        font-size: 14px;
    }
}
.limitFile {
    font-size: 17px;
    font-weight: 500;
}
.uploadImage {
    padding: 25px;
    width: 100%;
    height: 180px;
    margin-top: 2%;
    border-radius: 20px;
    border: 2px dashed #3E456F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#datasetImageUpload, .dropImage, .limitImage {
    background-color: #E1C5F5;
    color: #3E456F;
}
.dropImage {
    height: fit-content;
    line-height: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}
.limitImage {
    font-size: 17px;
    font-weight: 500;
}
.uploadFilesContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
@media screen and (max-width: 700px) {
    .uploadFilesContainer {
        display: flex;
        flex-direction: column;
    }
    .uploadFile {
        width: 100%;
        margin-bottom: 40px;
    }
}
.uploadedFilesSection {
    padding: 5px 25px 15px 25px;
    width: 100%;
    height: 185px;
    margin-top: 2%;
    border-radius: 20px;
    border: 1px solid #3E456F;
    color: #3E456F;
    background-color: white;
    overflow-y: scroll;
}
.coverImageText {
    color: #3E456F;
    line-height: 20px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.uploadedFilesTitle {
    background-color: white;
    color: #3E456F;
    width: fit-content;
    height: fit-content;
    line-height: 48px;
    font-size: 20px;
    font-weight: 700;
}
.uploadPage {
    margin-bottom: 50px;
}
.seeImage:hover, .seeFiles:hover {
    background-color: #f5f5f5;
}
.uploadedImagePreview {
    margin-top: 20px;
}
#coverPreviewImage {
    background-color: #E1C5F5;
    border-radius: 20px;
    box-sizing: border-box;
    height: 100%;
    width: auto;
    aspect-ratio: 5 / 3;
    object-fit: cover;
    margin-bottom: 20px;
}
#datasetImageUpload {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    border: 2px dashed #3E456F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
