@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: transparent;
  color: #3E456F;
}
body {
  font-feature-settings: "tnum";
  background-color: #F5F5F5;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  background:
    radial-gradient(
        50% 50% at -10% 60%,
        rgba(190, 165, 244, 0.84) 0%,
        rgba(245, 245, 245, 0) 100%
      )
      fixed,
    radial-gradient(
        50% 50% at 100% 100%,
        #c8d8ff 0%,
        rgba(245, 245, 245, 0) 100%
      )
      fixed;
}
*, :after, :before {
  box-sizing: border-box;
}
:root {
  --font-header: "Montserrat", sans-serif;
  --font-content: "IBM Plex sans", sans-serif;
}
h1 {
    line-height: 48px;
    font-size: 42px;
    color: #3E456F;
}
h2 {
    font-size: 36px;
    font-weight: 700;
    color: #3E456F;
}
h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
    color: #3E456F;
}
h4 {
    font-weight: 700;
    font-size: 15px;
}
p {
    color: #3E456F;
    font-size: 16px;
    font-weight: 400;
}

.input input[type="text"], #inputTagsFilter input[type="search"] {
  padding: 21px;
  border: 1px solid rgba(228, 231, 242, 1);
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: none;
  height: 35px;
  font-size: 16px;
  color: #3E456F;
}
::placeholder {
  color: #ADB5BD;
}
.input input[type="text"]:focus, #datasets input[type="text"]:focus, #inputTagsFilter input[type="search"]:focus  {
  border: solid #0071CE;
  outline: none;
  border-width: 1px;
}
.rowSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.row {
  display: flex;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
select {
  padding: 10px 20px;
  border-radius: 30px;
}
option {
  padding: 20px;
}
option:hover {
  background-color: #D5A9F4;
}
.selectionInput {
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid rgba(228, 231, 242, 1);
  border-width: 1px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: none;
  width: 100%;
  font-size: 16px;
  color: #3E456F;
  box-sizing: border-box;
  appearance: none; 
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 20 20"><path fill="%233E456F" d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 15px center;
}
.selectionInput:focus {
  border: solid #0071CE;
  outline: none;
  border-width: 1px;
}
.selectionInput::after {
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
pointer-events: none;
}
.warning {
  margin-top: 5px;
  color: rgb(225, 0, 0);
}
.displayNone {
  display: none;
}
.blueButton, .lightBlueButton, .purpleButton, .whitePurpleButton, .lightPurpleButton, .whiteRedButton, .whiteBlueButton, .lightRedButton {
  border: none;
  background-color: #0071CE;
  color: white;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 10px;
  margin: 0px 0px 0px 20px;
}
.lightBlueButton {
  background-color: #D3EBFF;
  color: #0071CE;
}
.lightBlueButton:hover {
  background-color: #c3e2fc;
  filter: brightness(1) !important;
}
.lightRedButton {
  background-color: #FFE5E5;
  color: #FF0000;
}
.lightPurpleButton {
  background-color: #E9DFFF;
  color: #7B61FF;
}
.lightPurpleButton:hover {
  background-color: #e2d5fc;
  filter: brightness(1) !important;
}
.whiteBlueButton {
  padding: 4px 15px;
  background-color: white;
  color: #0071CE;
  border: 1px solid #0071CE;
}
.whiteBlueButton:hover {
  background-color: #ecf7ff;
  filter: brightness(1) !important;
}
.whitePurpleButton {
  padding: 4px 15px;
  background-color: white;
  color: #7B61FF;
  border: 1px solid #7B61FF;
}
.whitePurpleButton:hover {
  background-color: #f2eefd;
  filter: brightness(1) !important;
}
.purpleButton {
  padding: 4px 15px;
  background-color: #7B61FF;
  color: white;
  border: 1px solid #7B61FF;
}
.whiteRedButton {
  padding: 4px 15px;
  background-color: white;
  color: #FF0000;
  border: 1px solid #FF0000;
}
#plusIcon {
  width: 20px;
  margin-right: 10px;
}
.rotate180 {
  transform: rotate(180deg);
}
button {
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 8px !important;
}
button:active {
  transform: scale(0.95);
}
button:hover {
  filter: brightness(0.95);
}
.bloсked {
  filter: brightness(1.5) !important;
}